<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>The Gossip Project - Team</title>
    </head>

    <body>
    <div class='ml-5'>
      <br>
      <h2 class="text-center">Team Gossip Project</h2>
      <br>
        <div class="row justify-content-md-center">  
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media4.giphy.com/media/xT8qBnzRIMESUXqEgw/giphy.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Fatouma</h4>
          </div>
 
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://i.imgur.com/kEf0nMU.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Clément</h4>
          </div>
          
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://www.viedemerde.fr/img/6ec7fa87f019d710c7eed35f88612d89.gif/original/" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Caroline</h4>
          </div>

          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media1.tenor.com/images/0062ebd0ed46176fafc0d84916c067e2/tenor.gif?itemid=13994717" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Halima</h4>
          </div>
        </div>
 
        <div class="row justify-content-md-center">  
          <div class="col-lg-3 text-center">
                <img class = "square" src="https://data.photofunky.net/output/image/0/e/9/b/0e9b77/photofunky.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
              
                <h4>Camillia</h4>
            </div>

          <div class="col-lg-3 text-center">
              <img class = "square" src="https://thumbs.gfycat.com/NeglectedUniformEastrussiancoursinghounds-size_restricted.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
              <h4>Ton</h4>
          </div>

        <div class="col-lg-3 text-center">
            <img class = "square" src="https://myfrenchcity.com/wp-content/uploads/2016/03/chiken.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Abdeldjalil</h4>
        </div>

        <div class="col-lg-3 text-center">
            <img class = "square" src="https://media.tenor.com/images/60b276ab00e136235854b2f72a6db9a5/tenor.gif" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Theo</h4>
        </div>
        
      </div>
    </div>
    </body>
</html>


